@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'DM Sans', system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "calt" 1, "kern" 1, "liga" 1;
  }
}

:root {
  --background: #ffffff;
  --text-primary: #333333;
}

/* Light mode is default, so we don't need a specific light mode class */
body {
  background-color: var(--background);
  color: var(--text-primary);
}

/* Dark mode styles will only apply when the 'dark' class is present */
.dark {
  --background: #1a1a1a;
  --text-primary: #ffffff;
}
